.page {
    color: #c78c15;
    padding: 0 1rem;
    background: #f1f5f9;
    &__box {
      min-height: 80px;
      background: #1e293b;
      margin: 0 -1rem;
      font-size: 16px;
    text-align: center;
    font-size: 22px;
    font-weight: 700; color:#c78c15;
    text-transform: uppercase;
    word-spacing: 1px; letter-spacing:2px;
    }
    &__content {
      min-height: calc(100vh - 178px);
      border-radius: 10px;
      margin-top: -2rem;
      background: white;
      color: black;
      font-size: 2rem;
      &-data {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  